<!DOCTYPE html>
<html>
<head>
<style>
.center {
  padding: 70px 0;
  text-align: center;   
}

#movetxt {
    position: relative;
    -webkit-animation: moving 5s;
    animation: moving 5s;
}
		
@-webkit-keyframes moving {
    from {top: 0px;}
    to {top: 200px;}
}

@keyframes moving {
    from {top: 0px;}
    to {top: 200px;}
}


</style>
</head>
<body>

<div class="center">
  <h1 style="color:green;font-family: 'Ubuntu', sans-serif;" id="movetxt">Hi...! You are Successfully LoggedIN<h1>
</div>

</body>
</html>

